   #searchBox{
   	vertical-align: center;
   }

   * {
      box-sizing: border-box;
      font-family: arial;
    }

div {

	display: inline-block;
	margin: auto;
	font-size: 12pt;
	background-color: #5cd65c;

}

